/* COLORS */
$rps-colors: (
  'primary': #8e3329,
  'accent': #d98328,
  'secondary': #5a1321,
  'foreground': #191919,
  'background': #e9e9e9
);

@function rps-color($key: 'primary') {
  @return map-get($rps-colors, $key);
}

$md-primary: (
  50 : #f1e7e5,
  100 : #ddc2bf,
  200 : #c79994,
  300 : #b07069,
  400 : #9f5249,
  500 : #8e3329,
  600 : #862e24,
  700 : #7b271f,
  800 : #712019,
  900 : #5f140f,
  A100 : #ff9b95,
  A200 : #ff6a62,
  A400 : #ff3a2f,
  A700 : #ff2215,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-accent: (
  50 : #faf0e5,
  100 : #f4dabf,
  200 : #ecc194,
  300 : #e4a869,
  400 : #df9648,
  500 : #d98328,
  600 : #d57b24,
  700 : #cf701e,
  800 : #ca6618,
  900 : #c0530f,
  A100 : #fff4ee,
  A200 : #ffd2bb,
  A400 : #ffb188,
  A700 : #ffa06e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
